/* ==========================================
   GENERAL
========================================== */

.stApp{
    background:#0E1117;
    color:#F8FAFC;
}

.main,
.block-container{
    background:#0E1117;
}

header[data-testid="stHeader"]{
    background:#0E1117;
    border-bottom:1px solid #1F2937;
}

section[data-testid="stSidebar"]{
    background:#111827;
    border-right:1px solid #374151;
}

section[data-testid="stSidebar"] *{
    color:#F8FAFC !important;
}

/* ==========================================
   TEXT
========================================== */

h1,h2,h3,h4,h5,h6,
p,
span,
label,
div,
li,
strong{
    color:#F8FAFC;
}

/* ==========================================
   BUTTONS
========================================== */

.stButton>button{
    width:100%;
    background:#16A34A;
    color:white;
    border:none;
    border-radius:12px;
    padding:10px;
    font-weight:600;
    transition:.25s;
}

.stButton>button:hover{
    background:#15803D;
}

/* ==========================================
   CHAT MESSAGE
========================================== */

[data-testid="stChatMessage"]{
    border-radius:16px;
    padding:18px;
    margin-bottom:18px;
}

[data-testid="stChatMessage"]:has([data-testid="chatAvatarIcon-user"]){
    background:#143D21;
    border-left:5px solid #22C55E;
}

[data-testid="stChatMessage"]:has([data-testid="chatAvatarIcon-assistant"]){
    background:#1E293B;
    border-left:5px solid #64748B;
}

/* ==========================================
   CHAT INPUT
========================================== */

section[data-testid="stBottomBlockContainer"]{
    background:#0E1117;
}

[data-testid="stChatInput"]{
    background:#1F2937 !important;
    border:1px solid #374151;
    border-radius:15px;
}

[data-testid="stChatInput"] textarea{
    background:#1F2937 !important;
    color:white !important;
}

[data-testid="stChatInput"] textarea::placeholder{
    color:#9CA3AF !important;
}

[data-testid="stChatInput"] button{
    background:#16A34A !important;
}

/* ==========================================
   INFO BOX
========================================== */

.stAlert{
    border-radius:12px;
}

/* ==========================================
   TOGGLE
========================================== */

.stToggle label{
    color:white;
}

/* ==========================================
   SCROLLBAR
========================================== */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#374151;
    border-radius:20px;
}

/* ==========================================
   ANIMATION
========================================== */

*{
    transition:
        background-color .25s,
        color .25s,
        border-color .25s;
}