/* ==========================
ROOT
========================== */

html,
body,
.stApp,
[data-testid="stAppViewContainer"],
[data-testid="stAppViewContainer"]>.main,
.main,
.block-container{
    background:#FFFFFF !important;
    color:#111827 !important;
}


/* ==========================
HEADER
========================== */

header,
[data-testid="stHeader"]{
    background:#FFFFFF !important;
}


/* ==========================
SIDEBAR
========================== */

[data-testid="stSidebar"]{
    background:#F8FAFC !important;
    border-right:1px solid #E5E7EB;
}


/* ==========================
TEXT
========================== */

h1,h2,h3,h4,h5,h6,
p,
span,
label,
div{
    color:#111827;
}


/* ==========================
BUTTONS
========================== */

.stButton>button{
    width:100%;
    background:#16A34A;
    color:white;
    border:none;
    border-radius:10px;
    padding:10px;
    transition:.25s;
}

.stButton>button:hover{
    background:#15803D;
}


/* ==========================
CHAT
========================== */

[data-testid="stChatMessage"]{
    border-radius:15px;
    padding:15px;
    margin-bottom:15px;
}

[data-testid="stChatMessage"]:has([data-testid="chatAvatarIcon-user"]){
    background:#DCFCE7;
    border-left:5px solid #22C55E;
}

[data-testid="stChatMessage"]:has([data-testid="chatAvatarIcon-assistant"]){
    background:#F3F4F6;
    border-left:5px solid #64748B;
}


/* ==========================
CHAT INPUT
========================== */

[data-testid="stBottomBlockContainer"]{
    background:#c6c6c6 !important;
}

[data-testid="stChatInput"]{
    background:#f6f6f6 !important;
    border:1px solid #E5E7EB;
    border-radius:15px;
}

[data-testid="stChatInput"]>div{
    background:#c6c6c6 !important;
}

[data-testid="stChatInput"] textarea{
    background:#c6c6c6 !important;
    color:#111827 !important;
}

[data-testid="stChatInput"] button{
    background:#16A34A !important;
}


/* ==========================
INFO BOX
========================== */

.stAlert{
    border-radius:10px;
}


/* ==========================
HR
========================== */

hr{
    border-color:#E5E7EB;
}


/* ==========================
SCROLLBAR
========================== */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#D1D5DB;
    border-radius:20px;
}


/* ==========================
ANIMATION
========================== */

*{
    transition:
    background-color .25s,
    color .25s,
    border-color .25s;
}